.idea
*.log
node_modules
*.sublime-project
*.sublime-projectcompletions
*.sublime-workspace
Drupal.sublime-projectcompletions
assets/other_files/fornetti_17new.mp4
assets/other_files/fornetti_17new.ogg
