@import (reference) "../lib/config.less";

/**
 *
 * @author Krisztian Pinter <kpinter@brainsum.com>
 * @author Székely Ádám <aszekely@brainsum.com>
 *
 */

.layout-xs() {
    #contact {
        .container + .container {
            margin-top: @s-padding * 4;
        }
        .row-2 .title {
            min-height: 3.07em;
        }
        .row {
            display: block;
            font-weight: 400;
        }
        .inline {
            vertical-align: top;
            text-align: left;
        }
    }
    #address {
        .row span {
            display: inline-block;

            & + span {
                margin-left: 5px;
            }
        }
        > .row {
            margin-top: @s-padding;
        }
    }
    #phone {
        .row + .row {
            margin-top: @s-padding;
        }
    }
    #map {
        border-top: @s-head-border solid @c-head;
    }
}