@import (reference) "../lib/config.less";

.layout-xs() {
    #lead {
        padding: 22px 0 0;

        .count, .text {
            display: block;
            font-weight: 400;
        }
        .count {
            font-size: 2em;
            line-height: 1.2em;            
        }
        .text {
            font-size: (24 / 16em);
            line-height: 3em;
            font-style: normal;
            text-transform: lowercase;
            margin-top: -1em;
        }
    }
}