@import (reference) "../lib/config";

.layout-xs() {
    #splash {
        overflow: hidden;
        background: url(../img/bg-intro.jpg) no-repeat center 0;

        .layer {
            transform: translate3d(0,0,0);
            backface-visibility: hidden;
        }
    }
}